<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Package.TNG.Login"/>
	  <class name="Package.TNG.FindAFlight"/>
	  <class name="Package.TNG.SelectAFlight"/>
      <class name="Package.TNG.BookAFlight"/>
	  <class name="Package.TNG.FlightConfirmation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
